<div ng-init="getProjects()">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title"><strong>Projects</strong></h3>
		</div>

		<div class="panel-body">
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Billable</th>
						<th>Active</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="project in projects">
						<td>{{project.title}}</td>
						<td>{{project.description}}</td>
						<td>{{project.start_date}}</td>
						<td>{{project.end_date}}</td>
						<td>{{project.is_billable ? "Yes" : "No"}}</td>
						<td>{{project.is_active ? "Yes" : "No"}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>